// Import page-specific CSS files here.
@import "home";


.container-for-body {
  max-height: 80vh;
  min-height: 80vh;
  padding-top: 30px;
  overflow: scroll;
}

.title_h2 {
  color: #84A59D;
  text-align: center;
  font-size: bold;
}
