<h2> Nouveaux Matchs </h2>

<% @matchs.each do |match| %>
  <%= render "shared/profile_match", match: match %>
<% end %>
    <p><%= render "shared/suggestion_cards" %></p>
    <p><%= render "shared/cards_asking" %></p>
