<%= simple_form_for [@conversation, @message] do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.button :submit %>
<% end %>

<% @messages.each do |message| %>
<p><%= message.content %></p>
<% end %>
