<div class="profile-container">
  <div class="user-profile-card">
    <div class="user-profile-picture">
      <%# insérer photos en 393px par 523px %>
    </div>
    <div class="user-info">
      <h2>User, 33 ans</h2>
      <p>Mexicain, Japonais, Libanais - €€</p>
    </div>
  </div>
  <div class="like-dislike-buttons">
    <%# insérer boutons like et dislike %>
    <%= image_tag "cross.svg" %>
    <%= image_tag "heart.svg" %>
  </div>
</div>
