
<div class="cards_restaurants">
  <div class="card_restaurant_content">
    <div
      class="card"
      style="background-image: url('https://wallpaperaccess.com/full/4326342.jpg');
              background-position: center;
              background-size: cover;
              opacity: 50%">
    </div>
    <h2><%= restaurant.name %></h2>
    <div class="price">
      <p><%= restaurant.price %></p>
    </div>
  </div>
</div>
