<div class="card_asking">


  <%# <%= restaurant.image %>


  <div class="info2">
    <%= image_tag ("img restaurant.webp"), class: "img_sug"%>
    <h4 class="cardTitle">Restaurant La Pagnolade</h4>
    <p>12 rue des croustibatte</p>

    <div class="prix2">
      <p>$$$$$</p>
      <p>*****</p>
    </div>

    <div class="les_btn">
      <button class="btn_decline">Decline</button>

      <button class="btn_accepte">Accepte</button>
    </div>
  </div>
    <h4> <%#= restaurant.name %> </h4>
    <%#= restaurant.category %>
    <%#= restaurant.price %>
    <%#= restaurant.review %>
  </div>

</div>
