<div class="container_chat">
  <%= simple_form_for Message.new, html: { class: 'form_chat'} do |f| %>
    <%= f.input :content, label: false, input_html: { class: "input_content"} %>
    <%= image_tag 'send.png', class: 'button-nul' %>
  <% end %>
</div>
