<div class="<%= message.user_id == current_user.id ? 'sender-position' : 'receiver-position' %>" data-conversation-subscription-user-id-value="<%= message.user_id %>">
  <div class="bubble <%= message.user_id == current_user.id ? 'sender' : '' %>">
    <%= message.content %>
  </div>
</div>
