<div class="foodmood_card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3NqOn8zP2f4NJDBUgeWTJTclTVZVD22yI3Q&usqp=CAU" alt="japonais">
  <div class="foodmood_container">
    <h2><%= foodmood.name %></h2>
  </div>
</div>
