<div class="header2">
  <div class=container>
    <%= image_tag "arrow.svg" %>
    <div class="profile_pic">
      <%= image_tag "profile_picture.svg", id: "picture" %>
    </div>
    <%= image_tag "settings.svg" %>
  </div>
</div>
