<div class="header_home">

  <a href="#" class="logo">Love Eat</a>
  <div class="header-right">
    <a class="active" href="#home">
     <%= image_tag "bell.svg" %>
    </a>
    <a href="#contact">
    <%= image_tag "settings.svg" %></a>
  </div>
</div>
