<div class="header_home">

  <p><%= link_to "Love Eat", root_path, class: "logo" %></p>
  <div class="header-right">
    <a class="active" href="#home">
     <%= image_tag "bell.svg" %>
    </a>
    <% if user_signed_in? %>
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag "settings.svg" %>
      <% end %>
    <% end %>
  </div>
</div>
