<div class="profile_match">
  <%= image_tag "profile_picture.svg", id: "picture" %>
  <div class="profile_match_container">
    <h2><strong>Gaetan, 34ans</strong></h2>
    <p class="details"></p>
    <p><strong>Description:</strong> Je suis un homme malade, malade d'amour!</p>
    <div class='tag_list'>
      <div>
        <p>Corean</p>
      </div>
      <div>
        <p>fast food</p>
      </div>
      <div>
        <p>Italian</p>
      </div>
    </div>
  </div>
</div>
