<div class="suggestion_card">

  <div class="imgs">
    <%# <%= restaurant.image %>
    <%= image_tag ("img restaurant.webp") %>
  </div>

  <div class="info">
    <h2>Restaurant La Pagnolade</h2>
    <p>12$-25$</p>
    <p>*****</p>
  </div>

</div>
 <h2><%#= restaurant.name %></h2>
    <%#= restaurant.price %>
    <%#= restaurant.review %>
