
<h2 class='title_h2'>Liste des restaurants</h2>

<div class="container" data-controller="food-card">
  <div class="block_card_scroll">
    <% @restaurants.each do |restaurant| %>
      <%= render "shared/cards_restaurants", restaurant: restaurant %>
    <% end %>
  </div>

  <div class="btn_fix" data-action="click->food-card#submit"><%= image_tag "check_circle.svg" %></div>
</div>
