.bubble{
  border: 2px solid black;
  background-color: #F5CAC3;
  border-radius: 16px;
  display: block;
  block-size: fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.sender-position {
  display: flex;
  justify-content: end;
}

.receiver-position {
  display: flex;
  justify-content: start;
}

.sender{
  margin: 10px 20px;
  background-color: #F28482;
}

.message-container {
  width: -webkit-fill-available;
  height: 70vh;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: scroll;
  scroll-behavior: auto;
  position: relative;
}
