.header2 {
  overflow: hidden;
  background-color: #F7EDE2;
  padding: 10px 10px;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#picture {
  width: 60px;
}
