.user-profile-card {
  height: 665px;
  width: 90%;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: 0 auto;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.user-main-info-show {
  background-color: rgba($color: #F7EDE2, $alpha: 0.6);
  padding: 8px 16px;
  margin: 10px 0px;
  border-radius: 4px;
}

.user-main-info-show h2 {
  margin-top: 12px;
  font-family: Nunito;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.user-main-info-show h4 {
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  color: #84A59D;
  text-align: left;
}

.user-description-show {
  font-family: Nunito;
  padding: 4px 10px;
  font-size: 16px;
  color: black;
  font-style: italic;
  bottom: 67px;
}

.user-foodmoods-show p {
  background-color: #F6BD60;
  border-radius: 10px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 4px 8px;
  width: fit-content;
}


.user-diet-show p {
  margin-top: 16px;
  background-color: #84A59D;
  border-radius: 10px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 4px 8px;
  width: fit-content;
}


.like-refuse-buttons-show {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
