.user-profile-card {
  height: 665px;
  width: 90%;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: auto;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.user-main-info h2 {
  font-family: Nunito;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.user-main-info h4 {
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.user-foodmoods {
  background-color: #F6BD60;
  border-radius: 10px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}

.user-more-info {
  background-color: rgba($color: #F7EDE2, $alpha: 0.6);
  padding: 15px;
  border-radius: 4px;
  width: 90%;
  font-family: Nunito;
  font-size: 16px;
  color: #84A59D;
  font-weight: bold;
  margin: 0px 10px 16px 10px;
  position: absolute;
  bottom: 67px;
}

.user-more-info p {
  background-color: #84A59D;
  border-radius: 10px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
}


.like-refuse-buttons {
  width: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  transform: translateX(-50%);
}
